/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* Global colors */
	--global-color-alpha-x-light: #A5A4A4;
	--global-color-alpha-light: #747474;
	--global-color-alpha-lightest: #FFAB80;
	--global-color-alpha-lighter: #FF894D;
	--global-color-alpha: #FF5700;
	--global-color-alpha-dark: #D94A00;
	--global-color-alpha-x-dark: #1A1A1A;

	--global-color-neutral-xxxx-light: #f5f6fa;
	--global-color-neutral-xxx-light: #e2e3e7;
	--global-color-neutral-xx-light: #caccd4;
	--global-color-neutral-x-light: #b5b6c0;
	--global-color-neutral-light: #a0a1ad;
	--global-color-neutral: #8b8c9a;
	--global-color-neutral-dark: #757787;
	--global-color-neutral-x-dark: #606274;
	--global-color-neutral-xx-dark: #4b4c60;
	--global-color-neutral-xxx-dark: #35374d;
	--global-color-neutral-xxxx-dark: #20223a;

	--global-color-answer1: #0356fc;
	--global-color-answer2: #18b557;
	--global-color-answer3: #8618b5;


	/* global page settings */
	--global-html-color: var(--global-color-neutral-xxxx-dark);
	--global-html-backgroundColor: #009247;
	--global-selection-backgroundColor: var(--global-color-alpha);

	/* borders */
	--global-borderRadius: 20px;
	--global-borderWidth: 1px;

	/* transitions */
	--transition: 0.1s ease-out;

	/* shadows */
	--shadow-color: #20223a15;
	--inset-shadow: var(--shadow-color);
	--global-input-focus-boxShadow: 0 0 0 1px;

	/* Baseline settings */
	--global-baseline: 8px;

	--global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

	--global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
	--global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
	--global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
	--global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
	--global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
	--global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

	/* grid */
	--grid-baseline: 8px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	color: var(--global-html-color);
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto', Helvetica, arial, sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--global-html-backgroundColor);
	height: 100vh;
	width: 100vw;
}



*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--global-selection-backgroundColor);
	color: white;
	text-shadow: none;
}

::selection {
	background: var(--global-selection-backgroundColor);
	color: white;
	text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 var(--global-whitespace);
}

h2 {
	font-size: 32px;
	line-height: 40px;
	margin: 0 0 var(--global-whitespace);
}

h3 {
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 var(--global-whitespace);
}

ul,
ol {
	padding-left: var(--global-whitespace);
}

li ul,
li ol {
	margin-bottom: 0;
}

td,
th {
	border: 1px solid var(--global-color-alpha-x-dark);
	border-collapse: collapse;
}

td {
	text-align: center;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: 32px;
	margin: 0 0 var(--global-whitespace);
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: var(--global-whitespace-sm);
}

hr {
	border: 0;
	height: 1px;
	background: LightGrey;
	margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
	transition: all var(--transition);
	color: var(--global-color-alpha);
	outline-color: var(--global-link-BoxShadowColor);
	outline-width: medium;
	outline-offset: 2px;
}

a:hover,
a:focus {
	color: var(--global-color-alpha-lightest);
}

a:active {
	color: var(--global-color-alpha-dark);
}

label,
input {
	display: block;
}

select {
	width: 100%;
}

input::placeholder {
	color: var(--global-placeholder-color);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: var(--global-whitespace) var(--global-whitespace) 0;
	height: 100vh;
	display: flex;
}

.o-row--lg {
	padding-top: var(--global-whitespace-xl);
	padding-bottom: var(--global-whitespace);
}

/*
    Objects: Container
    ---f
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 90em;
	width: 100%;
	justify-content: center;
	display: flex;
}

.o-list {
	list-style: none;
	padding: 0;
}

.o-list__ol {
	font-size: 18px;
	margin-left: calc(var(--global-baseline) * 3);
	margin-bottom: 0;
}
/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
	display: block;
	flex-wrap: wrap;
}

.o-layout__item {
	width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
	margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
	padding: 0 calc(var(--global-whitespace) / 2);
}

.o-layout--gutter-sm {
	margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
	padding: 0 6px;
}

.o-layout--gutter-lg {
	margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
	padding: 0 24px;
}

.o-layout--gutter-xl {
	margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
	padding: 0 var(--global-whitespace-xl);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
	flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
	justify-content: flex-start;
}

.o-layout--justify-end {
	justify-content: flex-end;
}

.o-layout--justify-center {
	justify-content: center;
}

.o-layout--justify-space-around {
	justify-content: space-around;
}

.o-layout--justify-space-evenly {
	justify-content: space-evenly;
}

.o-layout--justify-space-between {
	justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
	align-items: flex-start;
}

.o-layout--align-end {
	align-items: flex-end;
}

.o-layout--align-center {
	align-items: center;
}

.o-layout--align-baseline {
	align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
	align-content: start;
}

.o-layout--align-content-end {
	align-content: end;
}

.o-layout--align-content-center {
	align-content: center;
}

.o-layout--align-content-space-around {
	align-content: space-around;
}

.o-layout--align-content-space-between {
	align-content: space-between;
}

.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

@media (min-width: 768px){
	.c-background-img-mainpage{
		background-image: url('/assets/roadBackground.png'), url('/assets/roadBackground.png'), url('/assets/background.png');
		background-repeat: repeat-y, repeat-y, repeat;
		background-position: left, right, center;
		background-size: 450px, 450px, 500px;
		background-color: var(--global-html-backgroundColor);
		overflow: hidden;
	}
}

.c-background-img{
	background-image: url('/assets/background.png');
	background-repeat: repeat;
	background-size: 300px;
	background-color: var(--global-html-backgroundColor);
}


.c-mainpage {
	display: flex;
	justify-content: center;
}

@media (min-width: 1024px){
	.c-grid {
		display: grid;
		grid-template-columns: repeat(20, 70px);
		grid-gap: calc(var(--grid-baseline) * 2);
		grid-template-rows: repeat(16, 64px);
	}
}


@media (min-width: 1024px){
	.c-grid-mainpage {
		display: grid;
		grid-template-columns: repeat(20, auto);
		grid-gap: calc(var(--grid-baseline) * 2);
		grid-template-rows: repeat(auto, auto);
	}
}


.c-grid__item {
	grid-column: span 10;
}

.c-header {
	text-align: center;
	display: block;
}

.c-title {
	font-size: 40px;
	color: white;
	justify-content: center;
	margin-bottom: 0;
}

.c-card {
	--graph-backgroundColor: white;
	--graph-borderRadius: var(--global-borderRadius);
	background-color: var(--graph-backgroundColor);
	margin-bottom: var(--global-whitespace);
	border-radius: var(--graph-borderRadius);
	overflow: hidden;
	box-shadow: 0 0 0 1px (0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.075);
	display: block;
	position: relative;
}

.c-animated-car1{
	display: none;
}

.c-animated-car2{
	display: none;
}

.c-animated-car3{
	display: none;
}

.c-animated-car4{
	display: none;
}

@media (min-width: 768px){
	.c-animated-car1{
		display: block;
		position: absolute;
		bottom: 10px;
		left: 120px;
		animation-name: car;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
	
	.c-animated-car2{
		display: block;
		position: absolute;
		bottom: 10px;
		right: 180px;
		animation-name: car;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}

	.c-animated-car3{
		display: block;
		position: absolute;
		bottom: 10px;
		left: 180px;
		animation-name: car3;
		animation-duration: 7s;
		animation-iteration-count: infinite;
	}

	.c-animated-car4{
		display: block;
		position: absolute;
		bottom: 10px;
		right: 290px;
		animation-name: car;
		animation-duration: 9s;
		animation-iteration-count: infinite;
	}
}



@media(min-width: 1024px) {
	@keyframes car {
		0% {bottom: -100px;}
		100% {bottom: 1200px;}
	}

	@keyframes car3 {
		0% {bottom: -100px;}
		100% {bottom: 1300px;}
	}
}



.c-card__players {
	display: block;
	margin-left: calc(var(--global-baseline) * 2);
	
}

@media(min-width: 768px){
	.c-card__players{
		display: flex;
		margin-left: 0;
	}
}



.c-card__dropdowns {
	display: block;
	margin-bottom: calc(var(--global-baseline) * 2);
}

.c-carSpeed {
	display: block;
}


.c-obstacles {
	display: block;
}

@media(min-width: 768px){
	.c-obstacles {
		display: flex;
	}

	.c-carSpeed {
		display: flex;
	}
}

.c-slider {
	padding-top: calc(var(--global-baseline));
	margin-top: var(--global-baseline);
	display: flex;
	justify-content: start;
	margin-left: calc(var(--global-baseline) * 2);
}

@media(min-width: 768px){
	.c-slider{
		display: block;
		margin-left: 0;
	}
}

.c-slider-input {
	-webkit-appearance: none;
	appearance: none;
	height: 6px;
	background: var(--global-color-neutral-x-light); 
	outline: none;
	border-radius: 5px;
  }

.c-slider-input:hover {
	opacity: 1; 
}

.c-slider-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background: var(--global-color-alpha-lighter);
	border: solid 1px var(--global-color-alpha-x-dark);
	cursor: pointer;
}

.c-slider-output{
	display: flex;
	justify-content: center;
	padding-top: calc(var(--global-baseline) / 2);
}



.c-card__difficulty-title {
	padding-top: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-left: calc(var(--global-baseline) * 2);
	margin-top: calc(var(--global-baseline) * 2);
	display: block;
}


.c-card__difficulty-subtitle {
	font-size: 18px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 1);
	margin-left: calc(var(--global-baseline) * 2);
	margin-top: var(--global-baseline);
	display: block;
}

@media(min-width: 768px){
	.c-card__difficulty-title{
		margin-left: 0;
	}

	.c-card__difficulty-subtitle{
		margin-right: calc(var(--global-baseline) * 3);
		margin-left: 0;
	}
}



.c-card__players-title {
	padding-top: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 2);
	margin-bottom: 0;
	display: block;
}


.c-form-fields {
	padding-top: calc(var(--global-baseline) * 2);
}


.c-custom-select {
	margin-top: 0px;
	width: 80%;
	display: block;
	position: relative;
	margin-left: calc(var(--global-baseline) * 4);
	margin-bottom: calc(var(--global-baseline) * 2);
}

.c-custom-select__startpage{
	margin-top: 0px;
	width: 93%;
	display: block;
	position: relative;
	margin-bottom: calc(var(--global-baseline) * 2);
}


@media (min-width: 768px){
	.c-custom-select{
		width: 35%;
	}

	.c-custom-select__startpage{
		width: 100%;
	}
}

@media (min-width: 1024px){
	.c-custom-select{
		width: 20%;
		margin-left: 0;
	}

}

.c-custom-select__dropdown-edit {
	margin-top: 0px;
	width: 80%;
	display: block;
	position: relative;
	margin-bottom: calc(var(--global-baseline) * 4);
}

@media(min-width: 768px){
	.c-custom-select__dropdown-edit{
		width: 30%;
		margin-bottom: 0;
	}
}

@media(min-width: 1024px){
	.c-custom-select__dropdown-edit{
		width: 20%;
		margin-bottom: 0;
	}
}


.c-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
	border-radius: var(--global-borderRadius);
	background-color: white;
	color: var(--global-color-neutral-xxxx-dark);
	font-family: inherit;
	font-size: 20px;
	line-height: calc(var(--global-baseline) * 3);
	padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
	outline: none;
	transition: border var(--transition);
	box-shadow: var(--transition);
}

.c-input-question {
	width: 92%;
	margin-left: calc(var(--global-baseline) * 4);
}

.c-input-subject {
	width: 65%;
}

.c-input-name {
	width: 93%;
}

.c-players {
	display: block;
	width: 100%;
}

.c-player1{
	display: block;	
}


@media(min-width: 768px){
	.c-player1 {
		display: flex;
		margin-right: calc(var(--global-baseline) * 8);
	}

	.c-input-name{
		width: 60%;
		margin-left: calc(var(--global-baseline) * 4);
	}
}


@media(min-width: 1024px){
	.c-subject {
		display: flex;
		width: 80%;
	}

	.c-player1{
		margin-right: calc(var(--global-baseline) * 2);
	}
}

.c-dropdown-card{
	display: none;
	width: 320px;
}

@media(min-width: 768px){
	.c-dropdown-card{
		width: auto;
	}
}

.c-gameId__title {
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 28px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-bottom: var(--global-baseline);
	margin-right: calc(var(--global-baseline) * 3);
	padding-left: calc(var(--global-baseline) * 4);
	display: flex;
	justify-content: center;
	align-self: center;
}

.c-gameIdAvailable {
	display: none;
	margin-bottom: calc(var(--global-baseline) * 2);
}

.c-hasNoGameId{
	display: none;
}

.c-hasGameId{
	display: none;
}


.c-gameId__input{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.c-player2{
	display: none;
}

.c-input-answer{
	margin-left: var(--global-baseline);
}


.c-input:hover {
	border-color: var(--global-color-neutral-xx-light);
}

.c-input:focus,
.c-input:active {
	border-color: var(--global-color-alpha);
	box-shadow: var(--global-color-alpha-x-dark);
}

.c-custom-select__symbol {
	width: var(--global-whitespace);
	height: var(--global-whitespace);
	position: absolute;
	height: 44px;
	top: 2px;
	right: calc(var(--global-baseline) * 5.25);
	pointer-events: none;
	fill: var(--global-color-neutral-x-light);
	border-right: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
}	


.c-custom-select__symbol-edit-index {
	pointer-events: none;
	width: var(--global-whitespace);
	height: var(--global-whitespace);
	position: absolute;
	top: calc(var(--global-whitespace) / 2);
	right: calc(var(--global-whitespace) / 2);
	fill: var(--global-color-neutral-x-light);
	padding-left: calc(var(--global-baseline) / 4);
	border-radius: var(--global-borderRadius);
}


.c-custom-select__symbol-edit {
	width: var(--global-whitespace);
	height: var(--global-whitespace);
	position: absolute;
	top: calc(var(--global-whitespace) / 2);
	right: calc(var(--global-whitespace) / 2);
	fill: var(--global-color-neutral-x-light);
	padding-left: calc(var(--global-baseline) / 4);
}

.c-custom-select__symbol-edit-dropdown {
	pointer-events: none;
	width: var(--global-whitespace);
	height: var(--global-whitespace);
	position: absolute;
	top: calc(var(--global-whitespace) / 2);
	right: calc(calc(var(--global-whitespace) / 2) * -1);
	fill: var(--global-color-neutral-x-light);
	padding-left: calc(var(--global-baseline) / 4);
	border-radius: var(--global-borderRadius);
}

.c-pick-subject{
	display: block;
}

@media(min-width: 768px){
	.c-pick-subject{
		display: flex;
	}
}

.c-session-card {
	display: flex;
	justify-content: center;
}

.c-custom-select__session {
	width: 50%;
	margin-left: calc(var(--global-baseline) * 4);
}

.c-session-card-select {
	display: flex;
	justify-content: center;
}



.c-session-card-title {
	margin-top: calc(var(--global-baseline) * 2);
	display: flex;
	justify-content: center;
}

.c-delete__subject{
	margin-left: calc(var(--global-baseline) * 4);	
}


.c-card__questions {
	margin-top: calc(var(--global-baseline) * 2);
}


.c-card__questions-title{
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-bottom: calc(var(--global-baseline) * 2);
	margin-right: calc(var(--global-baseline) * 3);
	padding-left: calc(var(--global-baseline) * 4);
	display: block;
}


.c-list__item{
	margin-left: calc(var(--global-baseline) * 4);
	margin-right: calc(var(--global-baseline) * 4);
	display: flex;
	justify-content: space-between;
	border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
	border-radius: var(--global-borderRadius);
	align-items: center;
}



.c-list__item-question{
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 16px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-bottom: var(--global-baseline);
	margin-right: calc(var(--global-baseline) * 3);
	padding-left: calc(var(--global-baseline) * 4);
	display: block;
}

.c-list__logos{
	padding-right: calc(var(--global-baseline) * 2);
	padding-top: calc(var(--global-baseline) / 2);

}

.c-list__question-answers{
	margin-top: calc(var(--global-baseline));
	margin-left: calc(var(--global-baseline) * 4);
	margin-right: calc(var(--global-baseline) * 4);
	margin-bottom: calc(var(--global-baseline) * 5);
	justify-content: center;
}


.c-answers{
	display: block;
}

.c-answerlist {
	display: flex;
	justify-content: center;
}


.c-list__answers{
	border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
	border-radius: var(--global-borderRadius);
	padding: var(--global-baseline);
	padding-right: calc(var(--global-baseline) * 4);
	padding-left: calc(var(--global-baseline) * 4);
	justify-content: center;
	width: 100%;
	display: flex;
	margin-bottom: calc(var(--global-baseline) * 2);
}

@media(min-width: 768px){
	.c-answers{
		display: flex;
		justify-content: space-evenly;
	}

	.c-list__answers {
		width: 40%;
	}

	.c-answerlist{
		display: block;
	}
}

@media(min-width: 1024px){
	.c-answers{
		display: flex;
		width: 50%;
	}

	.c-list__question-answers{
		display: flex;
		justify-content: space-evenly;
	}

	.c-list__answers{
		width: 100%;
		margin-left: calc(var(--global-baseline) * 2);
		margin-right: calc(var(--global-baseline) * 2);
	}
}

.c-buttons{
	display: flex;
	justify-content: flex-end;
	align-content: center;
	margin-left: calc(var(--global-baseline) * 4);
	margin-right: calc(var(--global-baseline) * 4);
}

.c-button {
	font-size: 16px;
	font-weight: 700;
	border-radius: var(--global-borderRadius);
	border: 1px solid var(--global-color-alpha-dark);
	background-color: var(--global-color-alpha);
	color: white;
	padding: 12px 12px;
	width: 250px;
	outline: none;
	transition: all var(--transition-alpha);
}

.c-button:hover {
	background-color: var(--global-color-alpha-lighter);
}

.c-button:focus {
	background-color: var(--global-color-alpha);
	box-shadow: 0 0 0 3px var(--global-color-alpha-lightest);
}

.c-button:active {
	background-color: var(--global-color-alpha-dark);
	box-shadow: none;
}

.c-button__play {
	font-size: 36px;
	margin-top: calc(var(--global-baseline) * 3)
}

.c-main-card {
	opacity: 1;
}
/* game allignement */
.c-game {
	display: grid;
	width: 100%;
	height: 100%;
	grid:auto / 20% 60% 20%;
	grid-gap: 10px;
}
.c-gamePage{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.c-gameQuestion ul {
	display: flex;
}
.c-gameQuestion li {
	padding: 16px;
	margin: 16px;
	/*background-color: var(--global-color-alpha);*/
	color: var(--global-color-neutral-xxxx-light);
	border-radius: var(--global-borderRadius);
	font-weight: bolder;
	font-size: 36px;
	padding: calc(var(--global-baseline)*5) calc(var(--global-baseline)*8);
}

.c-gameQuestion li:nth-of-type(1){
	background-color: var(--global-color-alpha)
}
.c-gameQuestion li:nth-of-type(2){
	background-color: var(--global-color-answer1);
}
.c-gameQuestion li:nth-of-type(3){
	background-color: var(--global-color-answer2);
}
.c-gameQuestion li:nth-of-type(4){
	background-color: var(--global-color-answer3);
}

.c-game-card {
	margin: 2.5vh 0;
	height: 95vh;
	width: 95vw;
	align-items: center;
	background-color: ;
}
.c-game-score {
	padding: 20px;
	grid-column: 0;
	grid-row: 0;
}
.c-game-highscore {
	padding: 20px;
	grid-column: 3;
	grid-row: 0;
	text-align: left;
}
.c-phaser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-add-card {
	display: none;
	width: 320px;
}

.c-edit-card {
	display: none;
	width: 320px;
}



.c-newGame-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
	
}

@media(min-width: 768px){
	.c-newGame-card{
		width: auto;
	}

	.c-edit-card{
		width: auto;
	}

	.c-add-card{
		width: auto;
	}
}

.c-card__no-grid{
	position: fixed;
	top: 100px;	
}

@media(min-width: 768px){
	.c-card__no-grid{
		top: 100px;
		left: 10%;
		width: 80%;
	}
}

@media(min-width: 1024px){
	.c-card__no-grid{
		top: 200px;
		left: 7%;
		width: 60%;
	}	
}

@media(min-width: 1440px){
	.c-card__no-grid{
		top: 200px;
		left: 15%;
		width: 60%;
	}	
}

@media(min-width: 1920px){
	.c-card__no-grid{
		top: 200px;
		left: 25%;
		width: 50%;
	}	
}


.c-card__add-title {
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 32px;
	line-height: calc(var(--global-whitespace) * 1.5);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 2);
	padding-left: calc(var(--global-baseline) * 4);
	display: block;
}

.c-card__login-title {
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 32px;
	line-height: calc(var(--global-whitespace) * 1.5);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 2);
	padding-left: calc(var(--global-baseline) * 2);
	display: block;
}

@media(min-width: 768px){
	.c-card__add-title{
		line-height: var(--global-whitespace);
	}

	.c-card__login-title{
		margin-left: calc(var(--global-baseline) * 4);
	}
}

.c-card__player1-title {
	padding-top: var(--global-baseline);
	font-size: 32px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 2);
	padding-left: 0;
	margin-bottom: calc(var(--global-baseline) * 2);
	display: block;
}




.c-card__carColor-title {
	padding-top: var(--global-baseline);
	font-size: 32px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 2);
	margin-bottom: calc(var(--global-baseline) * 2);
	display: block;
}


.c-card__player1-name{
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-bottom: calc(var(--global-baseline) * 2);
	padding-left: 0;
	display: block;
}

.c-card__space {
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	padding-left: 0;
	display: none;
}

@media(min-width: 768px){
	.c-card__player1-title{
		padding-left: calc(var(--global-baseline) * 4);
	}

	.c-card__player1-name {
		padding-left: calc(var(--global-baseline) * 4);
		margin-bottom: calc(var(--global-baseline) * 3);
	}

	.c-card__space {
		display: block;
	}

}
.c-card__add-question{
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	padding-left: calc(var(--global-baseline) * 4);
	display: block;
}

.c-card__delete-title{
	padding-top: var(--global-baseline);
	padding-left: var(--global-baseline);
	font-size: 24px;
	line-height: var(--global-whitespace);
	color: var(--global-color-alpha-light);
	margin-right: calc(var(--global-baseline) * 3);
	margin-top: calc(var(--global-baseline) * 4);
	margin-bottom: calc(var(--global-baseline) * 4);
	padding-left: calc(var(--global-baseline) * 4);
	display: flex;
	justify-content: center;
}

.c-label--options{
	display: flex;
	align-items: center;
}

.c-delete-card {
	display: none;
}

.c-deleteSubject-card {
	display: none;
}

.c-card__title {
	display: block;
}

@media(min-width: 768px){
	.c-card__title{
		display: flex;
		justify-content: center;
	}
}

.c-card__add {
	justify-content: center;
}

.c-close__button{
	position: absolute;
	top: 30px;
	right: 20px;
	height: 28px;
	width: 28px;
}

@media(min-width: 768px){
	.c-close__button{
		top: 20px;
		right: 20px;
	}
}

.c-warning {
	font-size: 20px;
	margin-left: calc(var(--global-baseline) * 3);
	color: var(--global-color-alpha);
	display: none;
}

.c-warning-edit {
	font-size: 20px;
	margin-left: calc(var(--global-baseline) * 3);
	color: var(--global-color-alpha);
	display: none;
}

.c-add__vragenlijst{
	display: flex;
	justify-content: center;
}

@media(min-width: 768px){
	.c-add__vragenlijst{
		width: 93%;
		margin-left: calc(var(--global-baseline) * 3);
		margin-right: calc(var(--global-baseline) * 3);
		justify-content: flex-end;
	}
}

.c-delete__buttons{
	display: block;
	width: 93%;
}

@media(min-width: 768px){
	.c-delete__buttons{
		display: flex;
		margin-left: calc(var(--global-baseline) * 3);
		margin-right: calc(var(--global-baseline) * 3);
		justify-content: space-between;
	}
}

.c-form__login-email {
	width: 100%;
	margin-left: calc(var(--global-baseline) * -2);
}

.c-form__login-password {
	width: 100%;
	margin-left: calc(var(--global-baseline) * -2);
	margin-bottom: 0;
}



.c-form-field__answers {
	width: 100%;
	padding-right: calc(var(--global-baseline) * 2);
}

@media(min-width: 768px){
	.c-form-field__answers{
		width: 50%;
	}

	.c-form__login-email{
		margin-left: 0;
	}

	.c-form__login-password {
		margin-left: 0;
	}
}

.c-form-field__admin {
	width: 87%;
}

@media(min-width: 768px){
	.c-form-field__admin{
		width: 97%;
	}
}

@media(min-width: 1024px){
	.c-form-field__admin{
		width: auto;
	}
}

.c-dropdown__values {
	width: 20%;
	padding-right: calc(var(--global-baseline) * 2);
}


.c-list__item-answer {
	display: flex;
	align-content: center;
} 

.c-goQuicker{
	display: flex;
}

.c-session-card-results-title{
	margin-top: calc(var(--global-baseline) * 2);
	font-size: 28px;
}

.c-session-card-table{
	display: flex;
	justify-content: center;
}

.c-table {
	width: 100%;
	border: 1px solid var(--global-color-alpha-x-dark);
	border-collapse: collapse;
}

.c-table-row {
	border: 1px solid var(--global-color-alpha-x-dark);
	border-collapse: collapse;
}


.c-custom-option {
	--custom-option__symbol-Fill: var(--global-color-alpha);
	width: 20%;
	margin-top: calc(var(--global-baseline) * 2);
}	

@media(min-width: 768px){
	.c-custom-option{
		width: 100%;
	}
}

.c-custom-options {
	--custom-option__symbol-Fill: var(--global-color-alpha);
	width: 0%;
	margin-top: calc(var(--global-baseline) * 2);
}

.c-custom-option__fake-input {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--global-whitespace-md);
	height: var(--global-whitespace-md);
	margin-right: var(--global-whitespace-sm);
	background: white;
	border: var(--global-borderWidth) solid var(--toggle-borderColor, var(--global-color-neutral-xxx-light));
	box-shadow: var(--custom-option-boxShadow, 0);
	transition: border var(--transition);
	box-shadow: var(--toggle-boxShadow, 0);
}


.c-session-card-button {
	display: flex;
	justify-content: flex-end;
}


.c-custom-option__fake-input:focus,
.c-custom-option__fake-input:active {
	--toggle-borderColor: var(--global-color-alpha);
}

.c-option--hidden:focus + .c-custom-option,
.c-option--hidden:active + .c-custom-option {
	--toggle-borderColor: var(---global-color-alpha);
}


.c-custom-option__fake-input--checkbox {
	border-radius: 4px;
}

.c-custom-option__fake-input--radio {
	border-radius: 100%;
}

.c-custom-option__symbol {
	display: block;
	opacity: 0; /* Hide the symbol initially */
	transform: scale(0);
	transition: var(--transition);
	opacity: var(--transition);
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
	width: 10px;
	height: 10px;
	fill: var(--global-color-alpha);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
	background-color: var(--custom-option__symbol-Fill);
	border-radius: 100%;
	width: 6px;
	height: 6px;
}

.c-editQuestion__answer-errormsg1{
	margin-left: calc(var(--global-baseline));
	display: none;
}

.c-editQuestion__answer-errormsg2{
	margin-left: calc(var(--global-baseline));
	display: none;
}

.c-editQuestion__answer-errormsg3{
	margin-left: calc(var(--global-baseline));
	display: none;
}

.c-editQuestion__answer-errormsg4{
	margin-left: calc(var(--global-baseline));
	display: none;
}


.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
	opacity: 1; /* Show the symbol when the invisible checkbox/radio button is checked */
	transform: scale(1);
}


.c-card__carColor-select {
	margin-top: 0;
}

.c-card__carColor-name {
	margin-bottom: 6px ;
}

.c-input__gameId {
	width: 65%;
}

.c-lists {
	display: block;
}

@media(min-width: 768px){
	.c-lists{
		display: flex;
	}

	.c-input__gameId{
		width: 50%;
	}
}

.c-color-input{
	display: flex;
}
.c-colors__list-item{
	margin-bottom: calc(var(--global-baseline));
	margin-left: calc(var(--global-baseline));
}

.c-newGameId {
	justify-content: center;
	display: flex;
}

.c-carColors{
	margin-bottom: calc(var(--global-baseline) * 3);
}

@media(min-width: 1024px){
	.c-carColors{
		margin-right: calc(var(--global-baseline) * 4);
	}
}

.c-carColors2 {
	display: none;
}

.c-goQuicker-subtitle {
	margin-top: calc(var(--global-baseline) * 1.2);
	margin-bottom: var(--global-baseline);
}

.c-session-id {
	margin-top: calc(var(--global-baseline) * 3);
}


.c-login__title {
	font-size: 24px;
	display: flex;
	justify-content: center;
	color: var(--global-color-alpha-x-dark)
}

.c-login__input-titles{
	font-size: 18px;
	padding-left: calc(var(--global-baseline) * 2);
	color: var(--global-color-alpha-light);
	margin-bottom: 0;
}

.c-login__input-password{
	font-size: 18px;
	color: var(--global-color-alpha-light);
	margin-bottom: 0;
}

@media(min-width: 768px){
	.c-login__input-titles{
		padding-left: calc(var(--global-baseline) * 4);
	}

	.c-login__input-password{
		margin-left: calc(var(--global-baseline) * 4);
	}
}

.c-password-error{
	color: red;
	display: none;
}

.c-registration-error{
	color: red;
	display: none;
}



.c-input-email{
	width: 86%;
	margin-left: calc(var(--global-baseline) * 4);
}


.c-input-password{
	width: 86%;
	margin-left: calc(var(--global-baseline) * 4);
}


.c-login-button {
	display: flex;
	justify-content: center;
	padding-top: calc(var(--global-baseline) * 2);
	margin-bottom: 0;
	padding-bottom: calc(var(--global-baseline) * 2);
}

.c-button__login {
	font-size: 18px;
}

.c-button__question{
	display: flex;
	justify-content: center;
}

@media(min-width: 768px){
	.c-button__question{
		display: block;
	}
}

.c-login__footer {
	border-top: 1px solid var(--global-color-neutral-xxx-light);
	display: flex;
	justify-content: center;
}

.c-login__footer-content {
	padding-top: calc(var(--global-baseline) * 3);
	display: flex;
	justify-content: center;
}

@media(min-width: 768px){
	.c-login__footer-content{
		display: block;
	}
}

.c-forgot__pass {
	display: flex;
	justify-content: center;
	padding-bottom: calc(var(--global-baseline) * 3);
}

.c-login-card {
	display: block;
}


.c-new-account-card {
	display: none;
}

@media(min-width: 768px){
	.c-login-card{
		width: 500px;
	}

	.c-new-account-card {
		width: 500px;
	}
}

@media(min-width: 1024px){
	.c-login-card{
		width: auto;
	}

	.c-new-account-card {
		width: auto;
	}
}

.c-passDontMatch {
	font-size: 20px;
	margin-left: calc(var(--global-baseline) * 4);
	color: var(--global-color-alpha);
	display: none;
}

.c-logo-sportinnovatiecampus{
	width: 250px;
	position: absolute;
	bottom: 0px;
	right: 120px;
}

.c-logo-mct{
	position: absolute;
	width: 150px;
	bottom: 0px;
	left: 80px;
}

.c-logo-howest{
	position: absolute;
	width: 250px;
	bottom: 0px;
	right: 700px;
}

.c-logo-sportbewegen{
	width: 250px;

}

.c-account {
	margin-right: calc(var(--global-baseline) * 4);
	margin-bottom: calc(var(--global-baseline));
	margin-top: calc(var(--global-baseline));
	margin-left: calc(var(--global-baseline) * 4);
	display: flex;
	justify-content: center;
}




@media(min-width: 1024px){
	.c-account {
		margin-top: 0;
	}
}

.c-topbar {
	display: flex;
	flex-direction: column-reverse;
}

@media(min-width: 768px){
	.c-topbar {
		justify-content: space-between;
		flex-direction: row;
	}
}


.c-dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
	background-color: var(--global-color-alpha-lighter);
	border-radius: var(--global-borderRadius);
	color: white;
}
  
.c-dropdown {
	position: relative;
	display: inline-block;
}


.c-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}


.c-dropdown-content a {
	color: var(--global-color-alpha-x-dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  

.c-dropdown-content a:hover {
	background-color: var(--global-color-alpha-lighter);
	color: white;
}


.c-dropdown:hover .c-dropdown-content {
	display: block;
}


.c-dropdown:hover .c-dropbtn {
	background-color: var(--global-color-alpha);
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-grid-row__title {
	grid-row: 1;
}

.u-grid-column__title {
	grid-column: span 6 / 14;
}

.u-grid-column__card-session{
	grid-column: span 10 / 16;
}


.u-grid-column__card {
	grid-column: span 15 / 17;
}

.u-grid-column__card-mainpage{
	grid-column: span 8 / 15;
}

@media (min-width: 1440px){
	.u-grid-column__card {
		grid-column: span 14 / 18;
	}
}

.u-grid-column__login{
	grid-column: span 6 / 14;
}

.u-grid-row__login {
	grid-row: 3;
}

.u-grid-row__title-login{
	grid-row: 2;
}

.u-grid-row__card {
	grid-row: 2;
}

.u-grid-column__add-question {
	grid-column: span 10 / 16;
}






.u-pt-clear {
	padding-top: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
	margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
	margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
	margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
	Utility classes to put specific max widths onto elements
	
*/

.u-max-width-xs {
	max-width: 20em;
}

@media (min-width: 1024px) {
	.u-max-width-xs {
		max-width: 27em !important;
	}
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 63.5em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
	text-align: center;
}

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
	width: auto !important;
}

.u-1-of-2 {
	width: 50% !important;
}

.u-1-of-3 {
	width: 33.3333333333% !important;
}

.u-2-of-3 {
	width: 66.6666666667% !important;
}

.u-1-of-4 {
	width: 25% !important;
}

.u-3-of-4 {
	width: 75% !important;
}

.u-1-of-5 {
	width: 20% !important;
}

.u-2-of-5 {
	width: 40% !important;
}

.u-3-of-5 {
	width: 60% !important;
}

.u-4-of-5 {
	width: 80% !important;
}

.u-1-of-6 {
	width: 16.6666666667% !important;
}

.u-5-of-6 {
	width: 83.3333333333% !important;
}

@media (min-width: 576px) {
	.u-1-of-2-bp1 {
		width: 50% !important;
	}
	.u-1-of-3-bp1 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp1 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp1 {
		width: 25% !important;
	}
	.u-3-of-4-bp1 {
		width: 75% !important;
	}
	.u-1-of-5-bp1 {
		width: 20% !important;
	}
	.u-2-of-5-bp1 {
		width: 40% !important;
	}
	.u-3-of-5-bp1 {
		width: 60% !important;
	}
	.u-4-of-5-bp1 {
		width: 80% !important;
	}
	.u-1-of-6-bp1 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp1 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 768px) {
	.u-1-of-2-bp2 {
		width: 50% !important;
	}
	.u-1-of-3-bp2 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp2 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp2 {
		width: 25% !important;
	}
	.u-3-of-4-bp2 {
		width: 75% !important;
	}
	.u-1-of-5-bp2 {
		width: 20% !important;
	}
	.u-2-of-5-bp2 {
		width: 40% !important;
	}
	.u-3-of-5-bp2 {
		width: 60% !important;
	}
	.u-4-of-5-bp2 {
		width: 80% !important;
	}
	.u-1-of-6-bp2 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp2 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 992px) {
	.u-1-of-2-bp3 {
		width: 50% !important;
	}
	.u-1-of-3-bp3 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp3 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp3 {
		width: 25% !important;
	}
	.u-3-of-4-bp3 {
		width: 75% !important;
	}
	.u-1-of-5-bp3 {
		width: 20% !important;
	}
	.u-2-of-5-bp3 {
		width: 40% !important;
	}
	.u-3-of-5-bp3 {
		width: 60% !important;
	}
	.u-4-of-5-bp3 {
		width: 80% !important;
	}
	.u-1-of-6-bp3 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp3 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 1200px) {
	.u-1-of-2-bp4 {
		width: 50% !important;
	}
	.u-1-of-3-bp4 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp4 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp4 {
		width: 25% !important;
	}
	.u-3-of-4-bp4 {
		width: 75% !important;
	}
	.u-1-of-5-bp4 {
		width: 20% !important;
	}
	.u-2-of-5-bp4 {
		width: 40% !important;
	}
	.u-3-of-5-bp4 {
		width: 60% !important;
	}
	.u-4-of-5-bp4 {
		width: 80% !important;
	}
	.u-1-of-6-bp4 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp4 {
		width: 83.3333333333% !important;
	}
}
.hide {
    display: none;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
